@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Шапка */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 600;
  line-height: 120%;
  color: #000;
}

.header-menu {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.header-menu ul {
  display: flex;
  gap: 55px;
  list-style-type: none;
}

.header-menu ul li a {
  text-decoration: none;
  color: #000;
}

.header-menu ul li :hover {
  text-decoration: underline;
}

/* Герой-секция */
.hero {
  margin: auto;
  display: flex;
  background-image: url("/assets/images/herobg.jpg");
  width: 100%;
  height: 630px;
  justify-content: center;
  align-items: center;
}

.hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 690px;
  height: 360px;
  flex-direction: column;
}

.hero-title,
.hero-title2 {
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 500;
  line-height: 120%;
  color: #000;
}

.hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

/* Биография */
.biography {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  margin-top: 151px;
}

.biography-span {
  position: relative;
  margin-bottom: 60%;
  margin-left: 2%;
}

.biography img {
  width: 45%;
  height: auto;
}

.biography-about {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  max-width: 455px;
  align-items: baseline;
  text-align: left;
}

/* Дизайнеры */
.designers {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  /* max-width: 1920px; */
}

#designers {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  position: relative;
  top: 120px;
}

.designers-inner {
  display: flex;
  width: 1920px;
  margin-left: 20px;
  gap: 20px;
  align-items: flex-end;
}

.designers::-webkit-scrollbar {
  width: 0;
}

.human-card,
.human-card2 {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.human-card,
.human-card2 b {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.human-card2-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}
.card2-inner-text {
  margin-right: 40px;
  margin-top: 20px;
}
.human-card > b {
  margin-top: 20px;
}
.card2-b {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
.card2-p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/* Отзывы */
.testimonials {
  display: grid;
  grid-template-columns: 10% 35% 10% 30%;
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 8px;
  padding: 0 15%;
  position: relative;
  top: 250px;
}

.testimonials-span {
  position: relative;
  bottom: 85%;
  left: 70%;
}

.opinion-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40.5px;
  margin-left: 91px;
}

.opinion-block img {
  width: 90%;
  height: 50%;
}

.opinion-text {
  font-family: "Bitter", serif;
  font-size: 32px;
  font-weight: 400;
  width: 221px;
  text-align: center;
}

/* Текстовые стили */
.vertical-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  writing-mode: sideways-lr;
}

.horizontal-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.horizontal-text {
  position: relative;
  bottom: 55px;
  left: 250px;
}

.skills-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.quote {
  font-family: "Bitter", serif;
  font-size: 26px;
  font-weight: 400;
}

/* Вертикальный блок */
.vertical-block {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20%;
  justify-content: flex-start;
}

.block-item {
  display: flex;
  flex-direction: column;
}

.block-item b {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.block-item a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 400;
}

.cafe-img {
  width: 120%;
  height: auto;
}

/* Подвал */
footer {
  font-family: "Roboto", sans-serif;
  background-color: black;
  font-size: 16px;
  font-weight: 400;
}

footer b,
.footer-title,
footer a,
.footer-year {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
}

footer b {
  font-size: 24px;
}

.footer-title {
  font-weight: 500;
}

.strong-points {
  height: 613px;
  max-width: 1420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  margin-top: 320px;
}

.strong-points img {
  width: 335px;
  height: 554px;
  max-width: 100%;
}

.strong-points-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.strong-points-inner::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.strong-points-list {
  width: 451px;
  height: 554px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-left: 56px;
  padding-right: 56px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.strong-points-title {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  margin-left: 16.7%;
}

.strong-points-list ul {
  list-style-type: none;
  font-family: "Bitter", Georgia, serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 100%;
  color: rgba(0, 0, 0, 1);
  width: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  gap: 8px;
}

.strong-points-strengths {
  font-family: "Playfair Display", Georgia, serif;
  font-weight: 500;
  font-size: 86px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: bottom;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .strong-points-inner {
    overflow-x: auto;
  }
}
