@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero {
  margin: auto;
  display: flex;
  background-image: url("/assets/images/herobg.jpg");
  width: 100%;
  height: 630px;
  justify-content: center;
  align-items: center;
}
.hero-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 690px;
  height: 360px;
  flex-direction: column;
}
.logo {
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 600;
  line-height: 120%;
  color: #000;
}
.header-menu {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.header-menu ul {
  display: flex;
  gap: 55px;

  list-style-type: none;
}
.header-menu ul li a {
  text-decoration: none;
  color: #000;
}
.header-menu ul li :hover {
  text-decoration: underline;
}
.hero-title {
  font-family: "Playfair Display", serif;
  font-size: 86px;
  font-weight: 500;
  line-height: 120%;
  color: #000;
}
.hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.vertical-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  writing-mode: sideways-lr;
  /* transform: rotate(360deg); */
}
.skills-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
.quote {
  font-family: "Bitter", serif;
  font-size: 26px;
  font-weight: 400;
}
.horizontal-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.human-card {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.human-card2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.vertical-block {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.opinion-text {
  font-family: "Bitter", serif;
  font-size: 32px;
  font-weight: 400;
}
.hero-list {
  font-family: "Bitter", serif;
  font-size: 34px;
  font-weight: 400;
}
.hero-list ul {
  list-style-type: none;
}
footer {
  font-family: "Roboto", sans-serif;
  background-color: black;
  font-size: 16px;
  font-weight: 400;
}
footer b {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  font-size: 24px;
}
.footer-title {
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  font-weight: 500;
}
footer a {
  text-decoration: underline;
  text-decoration-color: white;
  color: rgb(255, 255, 255);
}
.footer-year {
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
  color: white;
}
/* стили для биографи секции */
.biography {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 151px;
}
.biography-span {
  position: relative;
  margin-bottom: 60%;
  margin-left: 2%;
}
.biography img {
  width: 45%;
  height: auto;
}
.biography-about {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  max-width: 455px;
  align-items: baseline;
  text-align: left;
}
.designers {
  display: flex;
  justify-content: flex-start;
  align-content: space-between;
  margin-top: 300px;
}
.horizontal-text {
  position: relative;
  bottom: 180px;
  left: 139px;
}
.human-card2 {
  position: relative;
  bottom: 100px;
}
.testimonials {
  display: grid;
  grid-template-columns: 10% 35% 10% 30%;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 8px;
  padding-right: 15%;
  padding-left: 15%;
}
.opinion-text {
}
.vertical-block {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 20%;
  justify-content: flex-start;
  /* position: relative;
  bottom: -10%; */
}

.block-item {
  display: flex;
  flex-direction: column;
}
.block-item b {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
.block-item a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 400;
}
.cafe-img {
  width: 120%;
  height: auto;
}
.book {
  margin-top: 500px;
}
.testimonials-span {
  position: relative;
  bottom: 85%;
  left: 70%;
}

.opinion-text {
  width: 221px;
  text-align: center;
}
.opinion-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40.5px;
  margin-left: 91px;
}
.opinion-block img {
  width: 90%;
  height: 50%;
}
.images {
}
.list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 3fr;
  grid-column-start: 6;
  grid-column-end: ;
  grid-row-start: ;
  grid-row-end: -1;
}
.hero-title2 {
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
}
